<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme</key>
	<dict>
		<key>Header</key>
		<dict>
			<key>Header_skipIcon</key>
			<string>skip.png</string>
			<key>Header_playIcon</key>
			<string>playicon.png</string>
			<key>Header_puaseIcon</key>
			<string>pause.png</string>
			<key>Header_sidebarIcon</key>
			<string>sidebtn.png</string>
			<key>Header_favoriteIcon</key>
			<string>likeicon.png</string>
			<key>Header_favoriteSelIcon</key>
			<string>likeicon_selected.png</string>
			<key>Header_Logo</key>
			<string>Reslogo.png</string>
			<key>Header_bgColor</key>
			<string>#1F1509</string>
		</dict>
		<key>VibeList</key>
		<dict>
			<key>Vibe_playicon</key>
			<string>btnplayicon.png</string>
			<key>Vibe_addicon</key>
			<string>btnAddPlaylistNew.png</string>
			<key>Vibe_removeicon</key>
			<string>btnRemovePlaylistNew.png</string>
			<key>Vibe_downloadicon</key>
			<string>btnDownloadViebNew.png</string>
			<key>Vibe_undownloadicon</key>
			<string>btnRemoveDownloadVieb.png</string>
			<key>Vibe_offlineicon</key>
			<string>download.png</string>
			<key>Vibe_moreicon</key>
			<string>btnmore.png</string>
			<key>Vibe_slidericon</key>
			<string>slider.png</string>
			<key>vibe_MoreViewbgColor</key>
			<string>#1B0E02</string>
			<key>vibe_CurrentSongTitle</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>17</string>
			</dict>
			<key>vibe_CurrentSongArtist</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>13</string>
			</dict>
			<key>vibe_Title</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans-Semibold</string>
				<key>size</key>
				<string>16</string>
			</dict>
			<key>vibe_Percentage</key>
			<dict>
				<key>size</key>
				<string>17</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
			</dict>
			<key>vibe_AddTitle</key>
			<dict>
				<key>size</key>
				<string>12</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
			</dict>
			<key>vibe_RemoveTitle</key>
			<dict>
				<key>size</key>
				<string>12</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
			</dict>
			<key>vibe_DownloadTitle</key>
			<dict>
				<key>size</key>
				<string>12</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
			</dict>
		</dict>
		<key>TrackList</key>
		<dict>
			<key>track_downloadicon</key>
			<string>btnDownload.png</string>
			<key>track_backicon</key>
			<string>btnback.png</string>
			<key>track_Favoriteicon</key>
			<string>un-favorite.png</string>
			<key>track_Favoriteselectedicon</key>
			<string>favorite.png</string>
			<key>track_Dislikeicon</key>
			<string>dislike.png</string>
			<key>track_DislikeSelectedicon</key>
			<string>like.png</string>
			<key>track_AboutArtisticon</key>
			<string>about.png</string>
			<key>track_moreicon</key>
			<string>btnmore.png</string>
			<key>track_moreSelicon</key>
			<string>btnMoreSelected.png</string>
			<key>track_MoreViewbgColor</key>
			<string>#1B0E02</string>
			<key>track_CurrentSongTitle</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>17</string>
			</dict>
			<key>track_CurrentSongArtist</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>13</string>
			</dict>
			<key>track_Title</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>16</string>
			</dict>
			<key>track_vibe_Title</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans-Semibold</string>
				<key>size</key>
				<string>16</string>
			</dict>
			<key>track_Artist</key>
			<dict>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>font</key>
				<string>OpenSans</string>
				<key>size</key>
				<string>13</string>
			</dict>
			<key>track_Favorite</key>
			<dict>
				<key>size</key>
				<string>10</string>
				<key>color</key>
				<string>#EFDC8F</string>
				<key>font</key>
				<string>OpenSans-Light</string>
			</dict>
			<key>track_Dislike</key>
			<dict>
				<key>size</key>
				<string>10</string>
				<key>color</key>
				<string>#EFDC8F</string>
				<key>font</key>
				<string>OpenSans-Light</string>
			</dict>
			<key>track_About</key>
			<dict>
				<key>size</key>
				<string>11</string>
				<key>color</key>
				<string>#EFDC8F</string>
				<key>font</key>
				<string>OpenSans-Light</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
